body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration-style: none;
}

*{
    text-decoration: none;
}

header {
    background: #64dce4;
    height: 45vh;
    color: #fff;
    padding: 20px 20px 100px 20px;
  }
  
  header h1 {
    font-size: 100px;
    text-align: center;
    margin-bottom: 0%;
    padding-top: 25px;
    text-shadow: 5px 5px #77797c;
  }

  header p{
    margin: auto;
    font-size: 20px;
    padding-top: 70px;
    color: #282e33;
    text-align: center;
  }
  
  main {
    max-width: 780px;
    background: #fff;
    padding: 40px;
    margin: 0 auto;
    border-radius: 25px;
    margin-top: -100px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.7);
  }

  .button-admin button{
    background-color: #1c9ca0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all ease 0.3s ease 0;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:auto;
    margin-top: 30px;
    width: 300px;
    height: 150px;
  }

  .button-admin button:hover{
    background-color:#89d0da;
}

  .button-emp button{
    background-color: #336f75;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all ease 0.3s ease 0;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:auto;
    margin-top: 30px;
    width: 300px;
    height: 150px;
  }

  .button-emp button:hover{
    background-color:#89d0da;
}

button {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
}

  div {
    display: flex;
    justify-content: space-evenly;
  }
