/*============ STEVEN CUSTOM CSS======== */

@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    font-family: 'Nunito', Courier, monospace !important;
}

/* Body css */

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
  transition: opacity .3s ease-out;
}

.emp-row{
    display: flex;
    flex-wrap: wrap;
}

/* h2 .navbar-text{
    font-family: ;
} */

.emp-container{
    flex-basis: 17%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    margin-left: 10px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
    text-align: center;
}
  
.emp-container img{
    width: 100px;
    border-radius: 100px;
    border: 2px solid #18181a80;
}

.emp-container p, .emp-container a{
  color: #066392;
}

.emp-profile-names{
    margin-top: 20px;
}

.daterangepicker, .timepicker{ z-index: 999999 !important; }


.btn-add-driver{
    margin-left: auto;
    width: 150px; 
    bottom: 25px;
    border-style: none;
    background-color: rgb(41, 157, 192);
    border-radius: 10px;
}


/* FOR THE BUTTONS */

.open-form,
.reset-form {
    cursor: pointer;
    color: white;
    /* padding: 10px 25px; */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
    border: 2px solid rgb(41, 157, 192);
    background-color: rgb(41, 157, 192);
    font-size: 12px;
    transition: .3s;
}
.form-popup,
.success-message {
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, .5);
}
.form-popup .form-wrapper {
    top: 2em;
    max-width: 700px;
    background: white;
    padding: 50px;
    padding-top: 50px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.form-title {
    margin-bottom: 20px;
    text-transform: uppercase;
}
.close-form {
    border-radius: 0px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    cursor: pointer;
    padding: 10px 30px;
    background-color: rgb(41, 157, 192);
    border: 2px solid rgb(41, 157, 192);
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
    transition: .3s;
}
.send-form {
    cursor: pointer;
    padding: 10px 30px;
    background-color: rgb(41, 157, 192);
    border: 2px solid rgb(41, 157, 192);
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    transition: .3s;
}
.form-control {
    width: 100%;
    font-size:14px;
    border-color: rgb(31, 31, 31);
}
.form-control:focus {
    border-color: rgb(41, 157, 192);
    box-shadow: 0 0 0 0.2rem rgba(102, 163, 181, 0.25);
}
.btn:hover {
    color:white;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.35);
}
.success-message {
    text-align: center;
}
.success-message h1 {
    color: #ffffff;
    margin-top: 3em;
}


/* FOR SCHEDULING TABs */

th{
    margin-left: 80px;
}

.schedule-column{
    font-family: 'Nunito', 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
}


img.schedule-emp-img{
    width: 60px;
    border-color: rgb(80, 160, 235);
    border-style: solid;
    border-radius: 50px;
}

h5.schedule-emp-details{
    font-size: 16px;
    margin: 10px 0px 0px 10px;
    text-align: left;
}

/* FOR PROFILE PAGE */

.profile-img{
    width: 250px;
    border-radius: 150px;
    border-style: solid;
    border-color: black;
}


  /* ====================================== */
   
  /* ==================== FOR SCHEDULING PAGE ======================= */
  
  .btn-add-schedule{
    font-size: 12px;
    border: solid 2px rgb(41, 157, 192);
    color: white;
    background-color: rgb(41, 157, 192);
    border-radius: 20px;
    transition-duration: .2s;
  }
  .btn-add-schedule:hover{
    border: 1px blue;
    border: solid 2px rgba(4, 48, 83, 0.137);
    border-radius: 20px;
  }

  #schedule-table tbody .schedule-details{
    font-size: 14px;
    font-weight: 700;
    border: dashed 1px;
    border-color: #6299ce;
    background-color: #0c222400;
    padding: 10px;
    border-radius: 10px;
    color: #066392;
    transition-duration: .4s;
  }

  #schedule-table tbody .schedule-details:focus{
    font-size: 14px;
    font-weight: 700;
    border: dashed 1px;
    border-color: #6299ce;
    background-color: #0c222400;
    padding: 10px;
    border-radius: 10px;
    color: #0a0a0a;
    transition-duration: .4s;
  }

  #schedule-table tbody .add-new{
    font-size: 12px;
    font-weight: 700;
    border-style: dashed;
    border-color: #6299ce;
    background-color: #f5f9fa;
    padding: 10px;
    border-radius: 10px;
    color: #118bc4;
    transition-duration: .4s;
  }

  #schedule-table tbody .add-new:hover{
    background-color: #e2e2e2f8;
    }
  #schedule-table tbody .add-new:focus{
    outline: none;
  }

input[type=text]{
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(110, 110, 110, 0.5);
    transition-duration: .5s;
}
input[type=text]:focus{
    border-radius: 5px;
    border-style: solid;
    border-color: rgba(20, 99, 151, 0.89);
}

.sidebar-nav{
    font-weight: 100;
}

.dataTables_length{
    display: inline-block;
    width: 250px;
}

/* =========== FOR PAYROLL========================= */

.btn-generate{
    background-color: #6299ce;
    border-radius: 10px;
    color: white;
}

.btn-generate:hover{
    color: white;
}

/* ========== FOR salary_report.php ================ */
.salary-details{
    display: flex;
    width: 100%;
  }
  
  .payslip-details p{
    margin: 10px 5px;
  }
  
  .earning-details, .deduction-details{
    flex: 1;
    margin: 10px 10px;
  }
  
  .earning-details-child{
    margin:0px;
    display:flex;
    border: .5px solid rgba(0, 0, 0, 0.15);
  }
  
  .amount{
    margin-left: auto !important;
  }

  /* ======== FOR a_dashboard.php ============== */

  .box-title{
    text-align: right;
  }

  #area-chart,
  #line-chart,
  #bar-chart,
  #stacked,
  #pie-chart{
    min-height: 250px;
  }

  .page-wrapper{
    background-color: #e2e2e2 !important;
  }

  .white-box-2{
    background-color: white;
    border-radius: 2px;
    box-shadow: 0px 2px 1px #0a0a0a3b;
  }
  .white-box{
    box-shadow: 0px 2px 1px #0a0a0a33;
  }

  .dashboard-child{
    flex: 1;
    border-right:1px solid #c2c2c2;
  }

  .percentage{
    text-align: right;
    padding: 20px 20px;
    margin-left: auto;
  }
  .percentage-label{
    padding: 20px 25px;
    flex-basis: 100%;
    height: 0;
  }

  .progress{
    height: 15px !important;
    margin: 25px 25px;
  }

  .progress-bar{
    background-color: #118bc4;
  }